@using Restaurant.ViewModels.ProductViewModel;
@model IEnumerable<ProductListViewModel>

@{
    ViewData["Title"] = "List of Food Products";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Category</td>
                <td>
                    <a asp-controller="products" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                    @*<a asp-controller="products" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>*@
                    <form onclick="return confirm('Are you sure??');" method="post" asp-controller="products" asp-action="Delete" asp-route-id="@item.ID">
                        <input type="submit" value="Delete" class="" />
                        @Html.AntiForgeryToken()
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
