@using Restaurant.ViewModels.CartViewModel;
@model CartItemViewModel

@{
    ViewData["Title"] = "Checkout Information!";
}

<style>
  

    h1 {
        margin-top: 4rem;
        padding-left: 2rem;
        color: white;
    }

    h2 {
        margin-top: 1rem;
        padding-left: 1.5rem;
        color: green;
        font-weight: 700;
        
    }

    .checkout-container {
        color: white;
/*        margin-left: 4rem;
        margin-top: 3rem;*/
        background-color: rgba(0, 0, 0, 0.5);
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        padding: 2rem;
        margin: 3em 20em;
    }

    thead, tr {
        color: white;
    }

</style>

    

@if (Model == null)
{
    <div class="alert alert-danger " style="width:50%; margin:10em 22.2em; margin-bottom:4em;">@ViewBag.NotAvailable</div>
}

else {
    <h2 style="margin-top:3em; margin-left:2em;">Happy Purchase!</h2>

<div class="checkout-container ">
    <div class="row">
        <div class="col-md-12">
                <h2 style="color:darkgoldenrod; margin-left:1.5em; margin-bottom:1.1em;">Your Cart Items</h2>
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Title</td>
                        <td>@Model.Quantity</td>
                        <td>@Model.Price.ToString("C")</td>
                        <td>@Model.ItemsTotalPrice.ToString("C")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <div class="text-lg-center " style="display:inline;">
        <a asp-controller="Cart" asp-action="PlaceOrder" class="btn btn-success"
       style="margin-top:2em; width:15%">Place Order</a>
</div>     


}
<div class="text-lg-center m-2" style="display:inline;">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark" style="margin-bottom:2em; width:15%">Take Me Back</a>
</div>





